body {
    padding: 0;
    margin: 0;
}
main {
    margin: 0;
    padding: 10px 0 10px 0;
    background-color: #aaabb8;
}
header {
    padding-top: 30px;
    margin-bottom: 0;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid black;
    background-color: #503680;
}

h1 {
    margin-top: 0;
    text-align: center;
    color: #edf5e1;    
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

h3 {
    text-align: center;
    color: #503680;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

table {
    width: auto;
    margin: 0 auto;
    border: 1px solid #2a1b3d;
    border-collapse: collapse;
    margin-bottom: 40px;
}

tr {
    height: fit-content;
}

th {
    text-align: center;
    color: #edf5e1;
    background-color: #464866;
    border: 1px solid #000;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

td {
    padding: 10px;
    text-align: center;
    color: #2a1b3d;
    background-color: #b8a8d6;
    border: 1px solid #000;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.tag-description {
    max-width: 400px;
    text-align: left;
    font-size: 16px;
}

.att-description {
    max-width: 400px;
    text-align: left;
    font-size: 16px;
}

.article {
    width: 600px;
    color: #2a1a47;
    height: fit-content;
    margin: 0 auto 40px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

code {
    background-color: #c4c4d1;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}